<div class="wrapper">
  <app-nav-menu></app-nav-menu>
  <!------------------------ Home section ----------------------------------->
  <section id="home">
    <!-- Video background -->
    <video loop muted autoplay id="video-background">
      <source src="../assets/img/Black-galaxy.mp4" type="video/mp4">
    </video>
    <div class="video-overlay"></div>
    <h1 class="main-title">Hello World...!</h1>
    <h2 class="subtitle">@Samikhwaireh</h2>

    <!-- Social Icons -->
    <div class="social-icons">
      <a href="https://github.com/samijihd" target="_blank" rel="noopener"><fa-icon [icon]="['fab', 'github']" title="Github"></fa-icon></a>
      <a href="https://codepen.io/sami-khwaireh" target="_blank" rel="noopener"><fa-icon [icon]="['fab', 'codepen']" title="Codepen"></fa-icon></a>
      <a href="https://www.linkedin.com/in/sami-khwaierh-b8b86a177/" target="_blank" rel="noopener"><fa-icon [icon]="['fab', 'linkedin']" title="Linkedin"></fa-icon></a>
      <a href="https://www.instagram.com/samikhwaireh/" target="_blank" rel="noopener"><fa-icon [icon]="['fab', 'medium']" title="Medium"></fa-icon></a>
      <a href="https://www.instagram.com/samikhwaireh/" target="_blank" rel="noopener"><fa-icon [icon]="['fab', 'instagram']" title="Instragram"></fa-icon></a>
      <a href="https://www.instagram.com/samikhwaireh/" target="_blank" rel="noopener"><fa-icon [icon]="['fab', 'youtube']" title="Youtube"></fa-icon></a>
    </div>
    
  </section>
  <!------------------------ About section ----------------------------------->
  <div class="background">
    <section id="about"></section>
  </div>
  <!------------------------ Projects section ----------------------------------->
  <section id="projects"></section>
  <!------------------------ Contact section ----------------------------------->
  <section id="contact"></section>
  <!------------------------ Footer section ----------------------------------->
  <section id="footer"></section>
</div>