.desktop-nav { display: initial; }
.display-none { display: none; }

a, li {
    text-decoration: none;
}

.sidebar-container {
    position: fixed;
    display: initial;
    height: 30vh; 
    width: 350px;
    z-index: 10;
    /* background-color: dodgerblue; */
}

.sidebar-toggle{
    text-transform: uppercase;
    font-size: 2rem;
    font-family: 'Segoe UI',  sans-serif;
    color: white;
    /* background-color: rgba(56, 56, 56, 0.377); */
    width: 112px;
    margin: 40px;
    padding: 10px;
}

.sidebar-items{
    position: fixed;
    z-index: 10;
    list-style: none;
    font-size: 3rem;
}

.sidebar-items li{
    text-transform:  uppercase;
    font-family: 'Segoe UI', sans-serif;
    cursor: pointer;
    padding: 2px 14px 5px;
    margin-bottom: 20px;
    color: white;
    background-color: rgba(88, 88, 88, 0.349);
}

.sidebar-items li:hover {
    color: rgb(0,0,0,.85);
    background-color: #fbfbfb;
    transition: .3s;
}